$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.container {
    max-width:600px;
}

body {
  background-color: #f5f5f5;
  width: 600px;
  margin: 0 auto;
  padding: 20px, 50px;
  min-height: 600px;

}


.list {
  color: #555;
  font-size: 22px;
  padding: 0 !important;
  font-family: courier, monospace;
  border: 1px solid #dedede;
  position: relative;
  box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);   
}

.list li {
  list-style: none;
  border-bottom: 1px dotted #ccc;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 10px 5px 10px 50px;
  text-transform: capitalize;
  // vertical-align: top;
  // display: block;

}

.list li:hover {
  background-color: #eee;
  -webkit-transition: 0.2s;
  -moz-transition:    0.2s;
  -ms-transition:     0.2s;
  -o-transition:      0.2s;
}

.list li:last-child {
  border-bottom: 0;
}

.list:before {
  content: "";
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  position: absolute;
  height: 100%;
  left: 40px;
}

.list ul {
  display: inline-block;
}
.app-nav {
    width: 600px;
}

.app-nav ul > li{
    list-style: none;
    display: inline-block;
}

// .removePost {
//     cursor: pointer;
// }

.topper {
    background-color: #6699CC;
    height: 20px;
    // margin: 0px auto;
    padding: 0px;
    width: 100%;
}


.completed {
  text-decoration: line-through;
}

h4 {
  color: #cd0000;
  font-size: 42px;
  letter-spacing: -2px;
  text-align: left;
}

.glyphicon-pencil {
  margin-left:20px,
  padding: 5px;
}

.glyphicon-remove {
  margin-left:20px,
  padding: auto, auto, auto, 20px;
}

// .glyphicon-ok {
//   padding-left: 20px;
// }

// glyphicon glyphicon-ok completed

// .papers {
//   background-color: white;
//   height: 350px;
//   padding: 20px;
//   width: 260px;
//   -webkit-box-shadow: 
//         1px 1px   0 rgba(0,   0,   0,   0.100), 
//         3px 3px   0 rgba(255, 255, 255, 1.0), 
//         4px 4px   0 rgba(0,   0,   0,   0.125), 
//         6px 6px   0 rgba(255, 255, 255, 1.0),  
//         7px 7px   0 rgba(0,   0,   0,   0.150), 
//         9px 9px   0 rgba(255, 255, 255, 1.0),  
//         10px 10px 0 rgba(0,   0,   0,   0.175);
//   -moz-box-shadow: 
//         1px 1px   0 rgba(0,   0,   0,   0.100), 
//         3px 3px   0 rgba(255, 255, 255, 1.0), 
//         4px 4px   0 rgba(0,   0,   0,   0.125), 
//         6px 6px   0 rgba(255, 255, 255, 1.0),  
//         7px 7px   0 rgba(0,   0,   0,   0.150), 
//         9px 9px   0 rgba(255, 255, 255, 1.0),  
//         10px 10px 0 rgba(0,   0,   0,   0.175);
//   box-shadow: 
//         1px 1px   0 rgba(0,   0,   0,   0.100), 
//         3px 3px   0 rgba(255, 255, 255, 1.0), 
//         4px 4px   0 rgba(0,   0,   0,   0.125), 
//         6px 6px   0 rgba(255, 255, 255, 1.0),  
//         7px 7px   0 rgba(0,   0,   0,   0.150), 
//         9px 9px   0 rgba(255, 255, 255, 1.0),  
//         10px 10px 0 rgba(0,   0,   0,   0.175);
    
// }

